parameters:
    level: 1
    paths:
        - application/libraries/Request_normalizer.php
        - application/libraries/Booking_request_dto_factory.php
        - application/libraries/Dashboard_request_dto_factory.php
        - application/libraries/Api_request_dto_factory.php
        - application/libraries/Auth_request_dto_factory.php
        - application/libraries/Backoffice_request_dto_factory.php
        - application/libraries/Calendar_request_dto_factory.php
        - application/libraries/Integrations_request_dto_factory.php
    bootstrapFiles:
        - phpstan/bootstrap.php
    scanFiles:
        - phpstan/stubs/codeigniter-functions.stub.php
        - phpstan/stubs/request-dto-api.stub.php
    scanDirectories:
        - system
        - application/core
    universalObjectCratesClasses:
        - CI_Controller
        - EA_Controller
        - CI_Model
        - EA_Model
