parameters:
	ignoreErrors:
		-
			message: "#^Access to constant BASE_URL on an unknown class Config\\.$#"
			count: 1
			path: application/config/app.php

		-
			message: "#^Access to constant DEBUG_MODE on an unknown class Config\\.$#"
			count: 1
			path: application/config/app.php

		-
			message: "#^Access to constant BASE_URL on an unknown class Config\\.$#"
			count: 1
			path: application/config/config.php

		-
			message: "#^Access to constant LANGUAGE on an unknown class Config\\.$#"
			count: 1
			path: application/config/config.php

		-
			message: "#^Constant APPPATH not found\\.$#"
			count: 1
			path: application/config/config.php

		-
			message: "#^Access to constant DB_HOST on an unknown class Config\\.$#"
			count: 1
			path: application/config/database.php

		-
			message: "#^Access to constant DB_NAME on an unknown class Config\\.$#"
			count: 1
			path: application/config/database.php

		-
			message: "#^Access to constant DB_PASSWORD on an unknown class Config\\.$#"
			count: 1
			path: application/config/database.php

		-
			message: "#^Access to constant DB_USERNAME on an unknown class Config\\.$#"
			count: 1
			path: application/config/database.php

		-
			message: "#^Access to constant GOOGLE_CLIENT_ID on an unknown class Config\\.$#"
			count: 1
			path: application/config/google.php

		-
			message: "#^Access to constant GOOGLE_CLIENT_SECRET on an unknown class Config\\.$#"
			count: 1
			path: application/config/google.php

		-
			message: "#^Access to constant GOOGLE_SYNC_FEATURE on an unknown class Config\\.$#"
			count: 1
			path: application/config/google.php

		-
			message: "#^Constant APPPATH not found\\.$#"
			count: 1
			path: application/config/migration.php

		-
			message: "#^Variable \\$warnings on left side of \\?\\? is never defined\\.$#"
			count: 1
			path: application/controllers/Calendar.php

		-
			message: "#^Access to an undefined property Dashboard\\:\\:\\$dashboard_heatmap\\.$#"
			count: 1
			path: application/controllers/Dashboard.php

		-
			message: "#^Access to an undefined property Dashboard\\:\\:\\$dashboard_metrics\\.$#"
			count: 2
			path: application/controllers/Dashboard.php

		-
			message: "#^Access to an undefined property Dashboard_export\\:\\:\\$dashboard_metrics\\.$#"
			count: 1
			path: application/controllers/Dashboard_export.php

		-
			message: "#^Access to an undefined property Dashboard_export\\:\\:\\$pdf_renderer\\.$#"
			count: 1
			path: application/controllers/Dashboard_export.php

		-
			message: "#^Access to an undefined property Dashboard_export\\:\\:\\$zip\\.$#"
			count: 1
			path: application/controllers/Dashboard_export.php

		-
			message: "#^Constant APPPATH not found\\.$#"
			count: 3
			path: application/controllers/Dashboard_export.php

		-
			message: "#^Constant FCPATH not found\\.$#"
			count: 1
			path: application/controllers/Dashboard_export.php

		-
			message: "#^Constant APPPATH not found\\.$#"
			count: 1
			path: application/controllers/Healthz.php

		-
			message: "#^Constant ENVIRONMENT not found\\.$#"
			count: 1
			path: application/controllers/Test.php

		-
			message: "#^Call to an undefined method EA_Model\\:\\:get\\(\\)\\.$#"
			count: 1
			path: application/core/EA_Model.php

		-
			message: "#^Call to an undefined method EA_Model\\:\\:save\\(\\)\\.$#"
			count: 1
			path: application/core/EA_Model.php

		-
			message: "#^Constant UTF8_ENABLED not found\\.$#"
			count: 1
			path: application/core/EA_Security.php

		-
			message: "#^Attribute class JetBrains\\\\PhpStorm\\\\NoReturn does not exist\\.$#"
			count: 1
			path: application/helpers/debug_helper.php

		-
			message: "#^Constant FCPATH not found\\.$#"
			count: 2
			path: application/helpers/path_helper.php

		-
			message: "#^Access to constant LANGUAGE on an unknown class Config\\.$#"
			count: 1
			path: application/libraries/Accounts.php

		-
			message: "#^Attribute class JetBrains\\\\PhpStorm\\\\NoReturn does not exist\\.$#"
			count: 1
			path: application/libraries/Api.php

		-
			message: "#^Constant APPPATH not found\\.$#"
			count: 1
			path: application/libraries/Instance.php

		-
			message: "#^Access to constant LANGUAGE on an unknown class Config\\.$#"
			count: 1
			path: application/libraries/Ldap_client.php

		-
			message: "#^Variable \\$appointment on left side of \\?\\? is never defined\\.$#"
			count: 2
			path: application/libraries/Synchronization.php

		-
			message: "#^Access to an undefined property Appointments_model\\:\\:\\$providers_model\\.$#"
			count: 1
			path: application/models/Appointments_model.php

		-
			message: "#^Access to an undefined property Appointments_model\\:\\:\\$services_model\\.$#"
			count: 2
			path: application/models/Appointments_model.php

		-
			message: "#^Access to an undefined property Appointments_model\\:\\:\\$unavailabilities_model\\.$#"
			count: 1
			path: application/models/Appointments_model.php

		-
			message: "#^Variable \\$attributes on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: application/views/components/appointment_status_options.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: application/views/components/booking_final_step.php

		-
			message: "#^Variable \\$attributes on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: application/views/components/color_selection.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/components/google_analytics_script.php

		-
			message: "#^Variable \\$google_analytics_code on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 2
			path: application/views/components/google_analytics_script.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/components/unavailabilities_modal.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_404.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_404.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_db.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_db.php

		-
			message: "#^Variable \\$exception might not be defined\\.$#"
			count: 4
			path: application/views/errors/cli/error_exception.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_exception.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_general.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_general.php

		-
			message: "#^Variable \\$filepath might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_php.php

		-
			message: "#^Variable \\$line might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_php.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_php.php

		-
			message: "#^Variable \\$severity might not be defined\\.$#"
			count: 1
			path: application/views/errors/cli/error_php.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/admins.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/booking_cancellation.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 1
			path: application/views/pages/booking_confirmation.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/booking_message.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/booking_settings.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/business_settings.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/calendar.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/integrations.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/logout.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/providers.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: application/views/pages/secretaries.php
